div[logo-header] {
    display: flex;
    flex-direction: row;
    align-items: center;
    // font-family: 'Montserrat', sans-serif;
    padding: 3%;
    // background: linear-gradient(#ffcccc, #ffffff);
    div[first-name] {
        font-size: 32px;
    }
    div[last-name] {
        font-size: 32px;
    }
}