<div profile-image>
    <!-- <img src='/assets/images/headshot_portfolio.jpg'> -->
</div>
<h1>Hi, I'm Jing.</h1>
<div class="profile-content">
<p>I'm a <strong>Master's of Information Management and Systems student</strong> at UC Berkeley's School of Information. I'm focusing on <strong>UX design</strong> because I enjoy anticipating people's needs. Whether by pouring someone a cup of tea or designing an intuitive user flow, I'm always looking for how I can use my skills to build a more organized and empathetic world.</p>
<br>
<p>Born in China, an early love of reading fueled by fiction from my local library brought me to appreciate the multitude of characters and views that literature offered. After double majoring in English lit and Chinese and graduating from UC Berkeley with highest honors, I began to become interested in design because it was a practical application of my ability to empathize.</p>
<br>
<p>When not designing digital applications, you'll find me baking cakes, playing with watercolor, or exploring cool spots in the East Bay. </p>
</div>