:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div[profile-image] {
    height: 250px;
    width: 250px;
    border-radius: 250px;
    background: url(/assets/images/headshot_portfolio.jpg);
    background-position: 64%;
    background-size: 150%;  
}

div.profile-content {
    padding-left: 150px;
    padding-right: 150px;
}