/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body {
    margin: 0px;
    margin-top: 14vh;
    margin-left: 5vw;
    margin-right: 5vw;
    // font-family: 'Quattrocento', serif;
    font-family: 'Libre Baskerville', serif;
}  

