<div text-intro style="background-color:#6D7993">
    <div text-intro-title>
        Case Study: Cal Energy Corps
    </div>
    <div text-intro-body>Designing a comprehensive student internship website by integrating student, mentor, and donor perspectives.</div>

</div>

<!-- <div image-banner><img src="/assets/cec/cec_new_banner.png"></div> -->

<div text-section>
    <div text-section-category>The problem</div>
    <div text-section-title>Confusing Navigation</div>
    <div text-section-body>In the spring of 2016, while working for the Berkeley Energy and Climate Institute, I took over management of the Cal Energy Corps program. It was a unique internship program that allowed undergraduate students to do cutting-edge research on energy and climate solutions in universities and nonprofits around the world. However, information about the program was buried beneath a confusing navigation bar on a general departmental website.</div>
    <div text-section-image>
        <img src='/assets/cec/CEC_original_screenshot.png'>
        <div text-section-image-caption>A screenshot of the navigation on the departmental site. Users had to mouse carefully over many layers of dropdown menus.</div>
    </div>
    <div text-section-body>The program was facing financial difficulty in the face of system-wide budget cuts at the university, so getting the word out to prospective students and donors to highlight this exciting and impactful program was more important than ever. My department manager appointed me to lead the redesign effort. We had less than 5 months to create a brand-new website and I had a full-time, non-design workload to balance with this project. It was going to be a wild ride.</div>
    <div text-section-image-with-text></div>
</div>

<div text-section style="background-color:#D5D5D5">
    <div text-section-category>The process</div>
    <div text-section-title>Developing a New Architecture</div>
    <div text-section-body>I was brought onto the project sometime after the ideation process, and a few key decisions about platform and theme had already been made. Nevertheless, I was able to quickly get up to speed on the project by working closely with the developer as soon as possible to fully understand the technology we were using and the opportunities and constraints we needed to work with.</div>
    <div text-section-body>I imagined our website as a one-stop shop for students, faculty, and donors who were looking for more information about this program. To begin, I performed a content audit of the old site. I simplified by removing outdated information and reorganized the information we would need to move over.</div>
    <div text-section-image>
        <img src='/assets/cec/CECsitemap_before.png'>
        <div text-section-image-caption>The previous sitemap on the institutional website. Shaded portions reflect the Cal Energy Corps-related pages. Users had to navigate through multiple layers of dropdown menus to get to specific information, and there was no obvious place for donors or hosts to go for information on the program.</div>
    </div>
    <div text-section-body>I grouped the information based on each type of user, and created a sitemap that reflected such organization.</div>
    <div text-section-image>
        <img src='/assets/cec/CECsitemap_after.png'>
        <div text-section-image-caption>The sitemap I designed for the new website. While still student-facing, content for prospective donors and hosts is clearly highlighted.</div>
    </div>
    <div text-section-body>Based on the new sitemap, the developer was able to create a working prototype. </div>
</div>
<div text-section>
    <div text-section-title>Fine-tuning</div>
    <div text-section-body>However, we were on a time crunch and had to drop the blog functionality for the site’s go-live date. In addition, after conducting user testing, we realized that many pages, such as the About page, were too text-heavy; students were sometimes unable to find information even though it was on the page because it was difficult to locate. Similar problems existed for the Donate and Host pages.</div>
    <div text-section-body>Consequently, I thought up some ways that we could present the text more interactively, and worked with the developer to incorporate these features.</div>
    <div text-section-image>
        <div image-comparison>
            <div>
                <img src='/assets/cec/cec_about_before.png'>
                <div text-section-image-caption>The About page with a long block of text, making it difficult for users to skim and quickly identify the information they wanted.</div>
            </div>
            <div>
                <img src='/assets/cec/cec_about_after.png'>
                <div text-section-image-caption>Accordion implemented to create a more interactive experience in the FAQs while reducing the amount of text shown at once on the page.</div>
            </div>
        </div>
    
    </div>
    <div text-section-body>Even after implementing interactive elements for the FAQ however, we realized that the content on the Donor and Host pages were still quite text-heavy. </div>
        <div text-section-image>
            <img src='/assets/cec/donate_page_before.png'>
            <div text-section-image-caption>The Donate page with text only. With no visuals to complement the text, it was difficult for users to focus on the content. </div>
        </div>
    <div text-section-body>This was a problem, since we planned to ramp up fundraising efforts in the coming years, and the content needed to be more engaging. I suggested adding a hero image of the students we served in the program to bring a personal touch to these call-to-action pages.</div>
        <div text-section-image>
            <img src='/assets/cec/donate_page_after.png'>
            <div text-section-image-caption>The Donate page with hero image, helping users focus on the students that the donations would help. Similar changes were implemented for the Host page.</div>
        </div>

</div>

<div text-section style="background-color:#AA9DA5">
    <div text-section-category>The results</div>
    <div text-section-title>Go-live and Further Improvements</div>
    <div text-section-body>On September 27, 2016, we officially launched the website in conjunction with the annual symposium event.</div>
    <div text-section-image>
            <img src='/assets/cec/cec_new_banner.png'>
            <div text-section-image-caption>The new website's landing page.</div>
    </div>
    <ul>
        <li text-section-body>Since then, we had a successful 2017 application cycle supported by new site. No problems were reported by any users during the application process.</li>
        <li text-section-body>We have also added a native blog feature that allows student participants to log in and blog during their internships. We are working on more ways to demonstrate the depth of the student experience on the site.</li>
        <li text-section-body>A user survey will be conducted for the 2018 application cycle to gather feedback about user experience and possible improvements to the site.</li>
        <li text-section-body>The site is still currently being used as the one-stop shop for all things related to the program, and remains one of the best assets for promoting the program to donors.</li>
    </ul>
</div>

<div text-section>
    <div text-section-category>Reflection</div>
    <div text-section-title>Designing for Business Needs</div>
    <div text-section-body>This project was a great exercise in design thinking for me and helped me to get my feet wet in thinking about the needs of a variety of users. There are a lot of things that I wish I could have done earlier, such as wireframing and more user testing, but I am glad to have the opportunity to carry some of these out since we are still refining and improving the site.</div>
    <div text-section-body>One major challenge was getting enough high-quality content for the new website. Updating and revising the copy took a lot of time, but we were working with a hard deadline so we did what we could. Next time, if I’m able to, I would allot more time for content curation and refinement to better ensure that we have the time we need to craft truly great content for our users.</div>
    <div text-section-body>Another challenge we faced was that we often felt constrained by the theme we implemented, as it sometimes made it hard to design pages tailored to the information that we wanted to present, and we often had to compromise and learn to work within the framework of what we had. This taught me that theme and platform selection is crucial to the success of the project, and that we ought to carefully research the technologies we want to implement, examining it in terms of the content we wanted to present.</div>
    <div text-section-body>Through this project, I was able to lead a team of students and professional developers to create a useful tool, translating the Institute’s business needs into the product design. It was a great opportunity for me to grow as a digital designer and allowed me to understand the opportunities and challenges that come with working with a diverse team.</div>
</div>