div[portfolio-item] {
    display: flex;
    flex-direction: row;
    min-height: 360px;
    min-width: 300px;
    margin: 5%;
    div[left-box] {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: 30px;
        div[category] {
            margin-bottom: 40px;
        }
        div[title] {
            font-size: 3em;
            margin-bottom: 10px;
        }
        div[description] {
            flex: 1;
        }
    }
    div[right-box] {
        margin: 5%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}